# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/codeadvent17/codeadvent17/Debug/codeadvent17.tlog
/codeadvent17/codeadvent17/Debug
/streamTEst
/threadPoolConsole
/ConsoleApplication1
/codeadvent17/.vs/codeadvent17/v15
/codeadvent17/Debug/day07_input.txt
/codeadvent17/Debug/day05_input.txt
/codeadvent17/Debug/day04_input.txt
/codeadvent17/Debug/codeadvent17.pdb
/codeadvent17/codeadvent17/ReadMe.txt
/codeadvent17/codeadvent17/codeadvent17.vcxproj.filters
