# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
codeadvent17/codeadvent17/output.txt
codeadvent17/codeadvent17/codeadvent17.vcxproj
codeadvent17/codeadvent17.VC.db
codeadvent17/codeadvent17/.ninja_deps
codeadvent17/codeadvent17/.ninja_log
codeadvent17/codeadvent17/cmake_install.cmake
codeadvent17/codeadvent17/CMakeCache.txt
codeadvent17/codeadvent17/rules.ninja
codeadvent17/codeadvent17/CMakeFiles/*
